.btn {
  @extend %btn-flex;

  padding: $padding-sm $padding;
  color: #fff;
  background-color: $color-text;
  font-size: $body-font-size;
  line-height: $body-font-size + 4;
  transition: $transition;

  &:hover, &:focus {
    background-color: $color-text-hover;
    color: #fff;
  }
}

.btn-icon {
  font-size: $body-font-size + 4;
  line-height: $body-font-size + 4;
  color: $color-text;
  transition: $transition;

  &--close {
    position: absolute;
    top: $padding-sm;
    right: $padding-sm;
    z-index: 2;
  }

  &--has-absolute {
    width: 20px;
    text-align: center;
    position: relative;
  }

  &:hover, &:focus {
    color: $color-text-hover;
  }

  & + .btn-icon {
    margin-left: $padding;
  }

  &__content-absolute {
    transition: $transition;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);

    &--rotate {
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
    }
  }
}

.btn-line {
  display: flex;
  justify-content: flex-end;

  .btn {
    flex: 1;
    min-width: 100px;
    & + .btn {
      margin-left: $padding;
    }
  }
}
