.comment {
  margin-bottom: $padding;
  font-weight: 400;
  font-style: italic;
  position: relative;
  padding: $padding $padding;
  border-left: 2px solid $color-text-hover;

  &__header {
    padding-bottom: $padding;
  }

  &__date {
    font-size: $body-font-size - 4;
    line-height: $body-font-size;
  }

  &__author {
    font-size: $body-font-size + 4;
    line-height: $body-font-size + 8;
    display: block;
    padding-right: $padding;
  }
}
