.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.field {
  position: relative;
  margin-bottom: $padding + 10;

  &__input {
    display: block;
    width: 100%;
    font-family: $font-default;
    font-weight: 400;
    font-size: $body-font-size;
    line-height: $body-font-size + 4;
    padding: 0 $padding-sm $padding-sm;
    margin-top: $padding-sm;
    color: $color-text;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    transition: $transition;

    &::placeholder {
      transition: $transition;
      color: $color-text-second;
      opacity: 1;
    }

    &.is-focus, &:focus {
      border-bottom-color: $color-text;

      &::placeholder {
        opacity: 0;
      }

      & ~ .field {
        &__label {
          @extend .is-focus;
        }
      }
    }

    &.is-align-right {
      text-align: right;
    }
  }

  &__label {
    position: absolute;
    transition: $transition;
    font-size: $body-font-size;
    line-height: $body-font-size + 4;
    left: $padding-sm;
    top: 0;
    color: $color-text-second;
    opacity: 1;

    &.is-focus {
      font-size: $body-font-size - 4px;
      line-height: $body-font-size;
      top: ($padding-sm + 8) * -1;
      left: 0;
      color: $color-text;
    }

    &.is-align-right {
      left: auto;
      right: $padding-sm;

      &.is-focus {
        left: auto;
        right: 0;
      }
    }
  }

  &--right {
    .field {
      &__input, &__label {
        @extend .is-align-right;
      }
    }
  }
}

.field-row {
  margin-left: $grid-gutter-width / 2 * -1;
  margin-right: $grid-gutter-width / 2 * -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .col {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.field-static {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .field {
    &__label {
      visibility: hidden;
      opacity: 0;
    }

    &__input {
      border-color: transparent;
    }
  }
}

.field-send {
  position: relative;

  &__btn {
    position: absolute;
    right: $padding-sm;
    top: 0;
    z-index: 2;
  }

  .field__input {
    padding-right: $padding-sm * 4;
  }
}
