.header{
  background-color: $bg-sidebar;
  color: $color-text;
  height: $header-height;
  padding: $padding;
  display: flex;
  align-items: center;
  left: $sidebar-width;
  top:0;
  right:0;
  z-index: 2;
  position: fixed;
  &__title{
    font-size: 30px;
    line-height: 35px;
  }
  &__success{
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px) translateY(-50%);
    position: absolute;
    right: $padding;
    top: 50%;
    &--show{
      visibility: visible;
      opacity: 1;
      transform: translateX(0px) translateY(-50%);
    }
  }
  .container--fluid{
    position: relative;
  }
}
