.note-detail {
  position: relative;
  display: block;
  &__text {
    font-size: $body-font-size * 2;
    line-height: $body-font-size * 2 + 4;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    &__info{
      .note-detail{
        &__author{
          padding-right: 0;
        }
        &__date{
          padding-top: $padding/2;
          padding-bottom: $padding/2;
        }
      }
    }
  }

  &__author{
    font-size: $body-font-size + 4;
    line-height: $body-font-size + 8;
    font-style: italic;
    display: block;
    padding-right: $padding;
  }

  &__comments {
    padding-top: $padding * 2;
  }

}
