.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  padding-left: $sidebar-width;
  font-family: $font-default;
  font-weight: 400;
  font-size: $body-font-size;
  line-height: $body-font-size + 4;

  &__header {}

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: calc(100% - #{$header-height});
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: $header-height;
  }

  &__content{
    padding: $padding;
  }

  &__footer {}
}

a {
  color: $color-text;
  transition: $transition;

  &:hover, &:focus {
    color: $color-text-hover;
  }
}
