.sidebar {
  height: 100%;
  background-color: $bg-sidebar;
  padding-top: $header-height;
  width: $sidebar-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  &__container {}

  &__link {
    display: block;
    padding: $padding;
    font-weight: 500;
    &:hover {
      background-color: $bg-sidebar-hover;
    }
    .field{
      margin-bottom: 0;
    }
    &.is-active{
      color:$color-text-hover;
      background-color: $bg;

    }
  }

  &__list {}

  &__item {}
}
