.text {
  margin-bottom: $padding;
  color: $color-text-second;
  font-weight: 400;

  &--error {
    color: $error;
  }

  &--pad-top{
    padding-top: $padding;
  }
}

.text-blink {
  transition: $transition;
  opacity: 0;
  visibility: hidden;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.title {
  color: $color-text;
  font-size: $body-font-size * 2;
  line-height: $body-font-size * 2 + 4;
  font-weight: 700;
  margin-bottom: $padding * 2;

  &--big {
    font-size: $body-font-size * 3;
    line-height: $body-font-size * 3 + 4;
  }

  &--sm {
    font-size: $body-font-size * 1.5;
    line-height: $body-font-size * 1.5 + 4;
  }
}
