// grid breakpoints
$grid-breakpoints: (xs: 0, sm: 768px, md: 992px, lg: 1280px);

// grid containers
$container-max-widths: (sm: 720px, md: 940px, lg: 1200px);

// grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// is grid with flex
$enable-flex: true;

// font
$font-default: "Ubuntu", "Helvetica Neue", Helvetica, sans-serif;

$body-font-size: 16px;

//Sizes
$sidebar-width: 300px;
$header-height: 80px;
$padding: 20px;
$padding-sm: $padding / 2;
$padding-big: $padding * 2;
$transition: all 0.15s ease-in-out;

// colors
$color-text: #5a95f4;
$color-text-second: #fff;
$color-text-hover: #4286f4;
$bg-sidebar: #000;
$bg-sidebar-hover: #1a1a1a;
$bg-element: #4c4c4c;
$bg: #292929;
$error: red;

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue;
