.notes-list{
  .notes-item{
    border: 1px solid transparent;
    cursor: pointer;
    padding: $padding;
    border-radius: 5px;
    transition: $transition;
    &:hover{
      border-color: $color-text-hover;
    }
    &+.notes-item{
      margin-top: $padding;
    }
  }
}